/* #d8f3dc 
#b7e4c7
#95d5b2
#74c69d
#52b788
#40916c
#2d6a4f
#1b4332
#1b4332
#081c15
#ccd5ae
#e9edc9
#fefae0
#faedcd
#d4a373
*/

.main {
    min-height: 80vh;
}


.promo{
    background: #ccd5ae;
    font-size: 10px;
    
}
.nav-color{
    background: #d8f3dc ;

}
.headercss{
    background: #e9edc9 ;
}
.link-color{
    color: #1b4332 ;
}

.text-color{
    color: #d4a373;
}
.text-color2{
    color: #ccd5ae;
}
.hero{
    background: rgba(216, 243, 220, 0.117);
}
.test{
   color:  #d4a3735b;

}
.signup-box{

    background: #6a6a1a17;
}